.skill-container {
  background-color: #4f4c49;
  padding: 20px;
}

.skill-header{
  color: #fff;
  justify-content: center;
  display: flex;
  margin-top: 0px;
  padding-top: 100px;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 45px;
}

.skills-list {
  font-size: 21px;
  color: white;
  margin-top: 45px;
  justify-content: center;
  display: flex;
  color: #fff;
  font-weight: 200;
  font-family: 'Jost', sans-serif;
  flex-wrap: wrap;
  gap: 26px;
  padding: 0px 0px 100px 0px;
  margin-bottom: 0px;
}

.skills-list li {
  list-style: none; 
}

.info {
  color: #ffffffb5;
  margin: 0px 0px 155px 130px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  width: 75%;
}

.about-container {
  display: flex;
  align-items: center;
  background-color: #33312f;
}



.line-img{
  width: 70%;
  margin-right: 130px;
}