.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.designs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  padding: 40px;
}
.project {

}
.project img {
  max-width: 100%;
  height: auto;
}
.project p {
  margin-top: 10px;
}


.design-header {
  text-align: center;
  padding-top: 100px;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 45px;
  color: white;
  margin: 0px;
}

.design-container {
  background-color: #736e69;
}