



/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.menu-list {
  list-style-type: none;
}

.menu-list li {
  display: inline;
  margin-right: 20px;
}














.active{
  text-decoration: underline;
}

body, html {
  min-height: 100vh;
}

body{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0px;
}

.nav-menu {
  position: absolute;
  top: 10px; 
  left: 10px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
  
}


.nav-color {
  color: #534134;
}


header{
  display: flex;
  margin: 15px;
}


h1 {
  font-size: 26px;
  margin-left: 10px;
  color: #534134;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: white;
  font-size: 57px;
  width: 70%;
  font-weight: lighter;
  font-family: 'Antic Didone', serif;  line-height: 99px;
  margin-left: 10px;
  margin-top: 116px;
  background-color: #8e76643d;
  padding: 26px;
}

.sliding-text h2 {
  display: inline-block;
  transform: translateX(100%);
  animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}


footer{

  background: linear-gradient(to bottom, rgba(142, 118, 100, 0) 0%, rgba(142, 118, 100, 1) 100%);
  padding-top: 115px;
  padding-bottom: 35px;
  padding-right: 35px;
  padding-left: 35px;
}
.lets-talk,
.find-me p,
.footer-text{
  color: white;
}
.lets-talk a:hover{
  text-decoration: underline;
}

.flex-contact{
  display: flex;
  justify-content: space-between;
}
.contact-links {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  font-size: 26px;
}